<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Take A Hike</title>
  </head>
  <body ng-app="hikingApp" ng-controller="appController">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ng-click="changeViewState('takeAHike')">Take A Hike</a>
          <p class="navbar-text">Signed in as {{user.name}}</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn" on-click="getUserProfile">
                See Saved Hikes
              </button>
            </li>
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn" ng-click="changeViewState('takeAHike')">
                Search New Hike
              </button>
            </li>
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn">
                Log In
              </button>
            </li>
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn">
                Log Out
              </button>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <h1>Hello World</h1>
    <!--    //////////////// LOADING DIRECTIVES ////////////////    -->
    <take-a-hike
    ng-show="viewState==='takeAHike'"
    search-trails-api="searchTrailsApi"
    search-results="searchResults">
    </take-a-hike>
    <script src="../clients/components/app.js"></script>
    <script src="clients/services/getHikeApiService.js"></script>
    <script src="clients/services/getHikeService.js"></script>
    <script src="clients/services/postHikeService.js"></script>
    <script src="../clients/components/takeAHike.js"></script>
    <script src="clients/controllers/appController.js"></script>
  </body>
</html>