<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/node_modules/ngmap/build/scripts/ng-map.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCNk9E_96kg6CPdRe9sQDSgHxta-h3NTJE"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>

    <title>Take A Hike</title>
  </head>
  <body ng-app="hikingApp" ng-controller="appController">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
      <!-- Start of Nav Bar -->
        <div class="navbar-header">
        <!-- Collapsible navbar for smaller screens -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ng-click="changeViewState('takeAHike')">Take A Hike</a>
          <p class="navbar-text">Signed in as {{user.name}}</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
            <!-- see user profile -->
              <button type="button" class="btn btn-default btn-md navbar-btn" ng-click="changeViewState('userProfile')">
                See Saved Hikes
              </button>
            </li>
            <li class="active">
            <!-- see search bar -->
              <button type="button" class="btn btn-default btn-md navbar-btn" ng-click="changeViewState('takeAHike')">
                Search New Hike
              </button>
            </li>
           <!--  Log in and logout buttons not currently active -->
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn">
                Log In
              </button>
            </li>
            <li class="active">
              <button type="button" class="btn btn-default btn-md navbar-btn">
                Log Out
              </button>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--    //////////////// LOADING DIRECTIVES ////////////////    -->
    <div ng-controller="AerialRotateCtrl">
      <take-a-hike
        ng-show="viewState==='takeAHike'"
        search-trails-api="searchTrailsApi"
        change-view-state="changeViewState"
        search-results="searchResults"
        hike-info="hikeInfo"
        set-lat-lon="setLatLon">
      </take-a-hike>
    </div>

    <hike-profile
      hike="hike"
      ng-show="viewState==='hikeProfile'"
      save-wishlist-hike="saveWishlistHike">
    </hike-profile>

    <user-profile
      ng-show="viewState==='userProfile'"
      change-view-state="changeViewState"
      get-user-profile="getUserProfile"
      user-data="userProfile"
      search-trails-api="searchTrailsApi"
      search-results="searchResults"
      set-lat-lon="setLatLon"
      save-completed-hike="saveCompletedHike"
      move-to-completed="moveToCompleted"
      >
    </user-profile>

    <script src="clients/components/app.js"></script>
    <script src="clients/controllers/appController.js"></script>
    <script src="clients/services/getHikeApiService.js"></script>
    <script src="clients/services/getHikeService.js"></script>
    <script src="clients/services/postHikeService.js"></script>
    <script src="clients/components/takeAHike.js"></script>
    <script src="clients/components/userProfile.js"></script>
    <!-- add map, slideshow and stars controllers -->
    <script src="clients/components/hikeProfile.js"></script>
    <script src="clients/components/stars.js"></script>
    <script src="clients/controllers/slideShowController.js"></script>
    <script src="clients/controllers/mapController.js"></script>
    <script src="clients/controllers/starRatingController.js"></script>
  </body>
</html>