/*index.htmt*/
  body {
    background-color: #E9E7DA;
  }

  .navbar{
    background-color: #155765;

  }
  .navbar-brand {
    color: #1E392A;
  }

  .btn{
      background-color: hsl(70, 11%, 23%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
    background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
    background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
    background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
    background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
    background-image: linear-gradient(#7b7f66, #3e4134);
    border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 70px;
    line-height: 75px;
  }

  p {
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 18px;
    line-height: 25px;
  }

/*index.html ^^*/

/*takeAHike.html*/
  #hike {
    border: solid;
    border-color: #7b7f66;
    border-radius: 20px
  }


/*hikeProfile.html*/
 /* map*/
  .map-border {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
/*  .map {
    position: absolute;
    top: 0;
    left: 0;
  }*/
 /* map ^^*/

  /*slideShow*/
  .slider {
      width: 800px;
      height: 400px;
      overflow: hidden;
      position: relative;
      background: #e6e6e6;
      border: 20px solid #FFF;
      margin-top: 20px;
  }

  .slide {
      width: auto;
      height: auto;
  }

  .nav {
      text-align: center;
      display: block;
      position: absolute;
      z-index: 1002;
      left: 0;
      bottom: -4px;
      right: 0;
      height: 48px;
  }

  .nav .dot, .nav .dot a {
      display: inline-block;
      zoom: 1;
  }

  .dots .dot {
      position: relative;
      margin: 0 8px;
      width: 12px;
      height: 12px;
  }

  .dots .dot a {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 6px;
      height: 6px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: #FFF;
      border: 1px solid transparent;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: background-color 0.25s, border-color 0.25s;
      -moz-transition: background-color 0.25s, border-color 0.25s;
      transition: background-color 0.25s, border-color 0.25s;
  }

  .dots .dot a.active {
      border-color: #FFF;
      background-color: transparent;
  }
  /*slideshow ^^*/

  /*stars*/
  .rating {
      color: #a9a9a9;
      margin: 0;
      padding: 0;
  }
  ul.rating {
      display: inline-block;
  }
  .rating li {
      list-style-type: none;
      display: inline-block;
      padding: 1px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
  }
  .rating .filled {
      color: gold;
  }
  /*stars ^^*/

/*UserProfile*/
.user-profile-bg {
  position: absolute;
  background-image: url('https://4.bp.blogspot.com/-ozZj0JPTKMw/VDO82Nmh8EI/AAAAAAABQRM/7tSBlH2nA_4/s0/Waterfall%2Band%2BHiking_HD.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  opacity: 0.40;
  filter: blur(3px);
  filter: sepia(1);
  filter: contrast(1);
  filter: brightness(1);
}

