<div id="hikeProfile">
  <link rel="stylesheet" type="text/css" href="hikeProfile.css">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <nav class="navbar">
    <button class="searchNew" ng-click="/takeAHike.html">Search For New Hikes</button>
    <button class="savedHikes" ng-click="/user.html">Look Up Saved Hikes</button>
  </nav>
  <body>
    <h1>{{HikeName}}</h1>
    <div class="container">
      <div id="App1" class="row" ng-app="hikingApp">
        <div class ="pictureSlideShow">
          <div class="container slider" ng-controller="slideShow">
            <img ng-repeat="slide in slides" class="slide"
               ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            <nav class="nav">
              <div class="wrapper">
                <ul class="dots">
                  <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
      </div>
      <div id="map" class="row" ng-app="hikingApp">
        <div ng-controller="AerialRotateCtrl as vm">
          <input type="button" value="Auto Rotate" ng-click="vm.autoRotate();">
          <ng-map class="center" center="43.71274, -70.28522"
            zoom="18"
            map-type-id="SATELLITE"
            tilt="45"
            heading="90">
          </ng-map>
        </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class ="trailAttributes">
          <div id="App2" ng-controller="StarCtrl" ng-app="starApp">
            <span ng-repeat="rating in ratings">
            {{rating.name}}: {{rating.current}} out of {{rating.max}}
              <div star-rating rating-value="rating.current" max="rating.max" ></div>
            </span>
            <ul>
              <p>Length: {{trail.length}}</p>
            </ul>
          </div>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../../node_modules/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCNk9E_96kg6CPdRe9sQDSgHxta-h3NTJE"></script>
    <script src="../controllers/mapController.js"></script>
    <script src="../controllers/hikeProfile.js"></script>
    <script src="../components/stars.js"></script>
  </body>
</div>