<!-- Search for Hikes Page -->
<div class="container">
  <div class="takeAHike">
    <h1 class="text-center">Take A Hike</h1>
<!--     Search Bar -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Input City..." ng-model="city">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="takeAHike.searchTrailsApi(city)">Go!</button>
          </span>
        </div>
      </div>
    </div>
<!--     Filter Options -->
    <div class="filterBar">
      <select>
        <option value="rating" ng-click="takeAHike.filter(searchResults, 'rating')">Rating</option>
        <option value="intensity" ng-click="takeAHike.filter(searchResults, 'intensity')">Intensity</option>
        <option value="scenic" ng-click="takeAHike.filter(searchResults, 'scenic')">Scenic</option>
        <option value="cellphoneReception" ng-click="takeAHike.filter(searchResults, 'cellphoneReception')">Cellphone Reception</option>
      </select>
    </div>
  </div>
<!--   Hike Results -->
  <div ng-repeat="hike in takeAHike.searchResults track by $index">
    <div class="hike-wrapper">
      <div id="hike" class ="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <img src="http://ssc.columbia.edu/files/idcenter/content/submit-photo-button.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="150">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" >
          <h3>{{hike.name}}</h3>
          <p>{{hike.description}}</p>
          <button ng-click="takeAHike.changeViewState('hikeProfile'); takeAHike.setLatLon(hike.lat, hike.lon); takeAHike.hikeInfo(hike.name, hike.description, hike.directions)">hike details</button>
        </div>
      </div>
    </div>
  </div>
</div>
