<div id="userProfile">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="user.css">
</head>
  <nav class="navbar">
    <button class="btn btn-success" ng-click="/takeAHike.html">Search For New Hikes</button>
  </nav>
  <body>
    <h1 class="text-center">Saved Hikes</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<!--           <div class="wishListHikes" ng-repeat="hike in wishHikes">
          </div each-wish-hike ng-click="openHike()"> -->
          <h1>Wish List Hikes</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum massa at mauris tempor rhoncus. Suspendisse fermentum mi ac libero tristique blandit gravida eget nibh. Nulla aliquet, lectus sed ullamcorper tincidunt, mi nibh efficitur tellus, eget bibendum velit nisi quis lectus. Duis dapibus auctor elementum. Phasellus non libero venenatis, ultricies mi varius, pretium est. In porttitor pharetra consectetur. Aliquam et lacinia nisi, ut cursus purus. Curabitur vitae nunc id erat cursus faucibus. Sed interdum dignissim arcu, sed placerat massa. Quisque magna est, ultrices pharetra egestas sed, pellentesque ac augue. Suspendisse condimentum risus vel felis hendrerit, non fermentum ex condimentum. Sed sagittis, ex sit amet pretium condimentum, dui quam varius nisi, at venenatis sem nibh a massa. Aliquam sit amet metus molestie, fringilla felis at, tincidunt nulla.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<!--           <div class ="completedListHikes" ng-repeat="hike in completedHikes">
          </div each-completed-hike ng-click="openHike()"> -->
          <h1>Completed Hikes</h1>
          <p>Proin vestibulum lectus ac magna consectetur, quis facilisis ligula consectetur. Nam faucibus ultricies ipsum. Praesent pellentesque turpis metus, a luctus urna aliquam a. Cras facilisis consectetur nulla, eu placerat purus bibendum sed. Suspendisse ullamcorper nisl vel ipsum consequat eleifend. Duis interdum sapien quis diam bibendum convallis. Fusce non mattis massa. Suspendisse sodales mauris in turpis euismod pharetra. Etiam non arcu hendrerit, vehicula mauris sit amet, rutrum elit. Quisque orci dolor, malesuada nec congue quis, mattis vel turpis. Vestibulum quis volutpat arcu, at aliquam sapien. Quisque non mi nec diam bibendum imperdiet eu in metus. Aliquam ultrices id quam id posuere. Suspendisse vitae semper purus. Proin rutrum turpis libero, non tincidunt risus placerat vitae. Morbi vel nunc accumsan, elementum est ac, posuere elit.</p>
        </div>
      </div>
    </div>
  </body>
</div>
